<article class="lawyer-card">
  <div class="lawyer-image">
    <span>{{ name().charAt(0).toUpperCase() }}</span>
  </div>

  <div class="lawyer-content">
    <span class="lawyer-role">
      {{ role() }}
    </span>

    <h3>{{ name() }}</h3>

    <p>{{ description() }}</p>

    @if (specialties().length > 0) {
      <div class="lawyer-specialties">
        <span class="specialties-label"> ÁREAS DE ATUAÇÃO </span>

        <div class="specialties-list">
          @for (specialty of specialties(); track specialty) {
            <span class="specialty">
              {{ specialty }}
            </span>
          }
        </div>
      </div>
    }

    <a [routerLink]="link()" class="lawyer-link"> Ver perfil </a>
  </div>
</article>
